<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>@ViewBag.Title</title>

    <link href="~/css/Login.css" rel="stylesheet" />
    <link href="~/css/Bar.css" rel="stylesheet" />
    <link href="~/css/BackgroundNewUser.css" rel="stylesheet" />
</head>

<body>

    <div id="NavBarWhitout" style="min-width:1000px; position:relative">
        <img class="responsive" src="~/images/altamaquina.png" />
    </div>
    <div style="min-width:900px">
        @RenderBody()
    </div>

    <div id="LoginCopyright">
        &copy; Carlos Moreno Palacios
    </div>

</body>
</html>
