obj/Debug/netcoreapp2.0/WebMia.pdb
obj/Debug/netcoreapp2.0/WebMia.dll
bin/Debug/netcoreapp2.0/WebMia.pdb
bin/Debug/netcoreapp2.0/WebMia.dll
.vs/WebMia/v15/sqlite3/storage.ide
.vs/WebMia/v15/.suo
.vs/config/applicationhost.config
.vs/WebMia/v15/suoF098.tmp
.vs/WebMia/v15/suo5BE7.tmp
