
@{
    Layout = "_UserGestionLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserGestion</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>
    <link href="~/css/DisplayDataStyle.css" rel="stylesheet" />
</head>
<body>
    <div style="padding-left:3em">
        <h1>En está página podrás gestionar los usuarios dados que estén y que no estén dados de alta.</h1>
    </div>
</body>
</html>
