@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";

}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="~/css/site.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="~/js/site.js"></script>
<link href="~/css/DisplayDataStyle.css" rel="stylesheet" />


<div id="TextAbout" style="padding-left:6em; padding-top:3em">
    <h1> Desarrollado por:</h1>
    <h2> Carlos Moreno Palacios</h2>
    <br />
    <h1>En concepto de Proyecto de fin de grado de:</h1>
    <h2>Ingenieria Informática</h2>
    <br />
    <h1>Para:</h1>
    <h2>La universidad Internacional de la Rioja</h2> 
    
    <img id="ImageEmail"src="~/images/MiEmail.png" width="300" height="100" />
</div>
<img id="ImageAbout" src="~/images/logoUnir.png" />