
@{
    ViewData["Title"] = "Cambiar Password";
    Layout = "_LayoutNewUser";
}
<div id="newUserBody" style="min-width:1300px;">

    <div id="NewUser">


        @using (Html.BeginForm("SetNewPassword", "Users", FormMethod.Post))
        {
           
            <label>CONTRASEÑA ACTUAL </label>
            <input type="password" id="Password" name="Password" required /><br>
            <label>CONTRASEÑA NUEVA</label>
            <input type="password" id="Password" name="NewPassword" required /><br>
            <label>CONFIRMAR CONTRASEÑA NUEVA </label>
            <input type="password" id="Password" name="ConfirmPassword" required /><br/>
            <input type="submit" value="Aceptar" id="AceptNewUser"  style = "margin-top:1em" />
            <input type="button" id="CancelNewUser" class="btn-danger"  style = "margin-top:1em" value="Volver" onclick="window.location.href = '@Url.Action("UserGestion", "Home")'" />
        }
        <div class="errorNewUser"  style = "margin-top:5em">@TempData["InfoPass"]</div>

    </div>

</div>
